.windows8 {
    position: relative;
    width: 90px;
    height:90px;
}

.windows8 .wBall {
    position: absolute;
    width: 86px;
    height: 86px;
    opacity: 0;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 5.5s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 11px;
    height: 11px;
    background: #000000;
    left:0px;
    top:0px;
    -webkit-border-radius: 11px;
}

.windows8 #wBall_1 {
    -webkit-animation-delay: 1.2s;
}

.windows8 #wBall_2 {
    -webkit-animation-delay: 0.24s;
}

.windows8 #wBall_3 {
    -webkit-animation-delay: 0.48s;
}

.windows8 #wBall_4 {
    -webkit-animation-delay: 0.72s;
}

.windows8 #wBall_5 {
    -webkit-animation-delay: 0.96s;
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }
    
    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }
    
    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }
    
    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }
    
    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }
    
    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }
    
    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }
    
    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }   
}