/* 
    Document   : others
    Created on : 16-set-2013, 14.05.00
    Author     : Paolo
    Description:
        Purpose of the stylesheet follows.
*/


.outerLoadingImgContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}

.innerLoadingImgContainer {
    display: table-cell; 
    vertical-align: middle;
}